[Unit]  
Description = dotnetcore sample service with generic host  
  
[Service]  
ExecStart=/usr/bin/dotnet /etc/myservice/myservice.dll
User=pc  
Group=pc  
Restart=on-failure  
SyslogIdentifier = dotnetcore-sample-generichost-service  
PrivateTemp=true  
  
[Install]  
WantedBy=multi-user.target  